<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

		<ComponentGroup Id="PublishComponents">
			<ComponentRef Id="Component1"/>
			<ComponentRef Id="Component2"/>
		</ComponentGroup>

		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\ConsoleApp1\bin\Debug\">
			
			<Component Id="Component1" Guid="{130A5D1F-C9E1-46E5-9196-ECD155B8587C}">
				<File Id="TestFile1" Name="TextFile.txt" KeyPath="yes" Source="..\ConsoleApp1\"/>
			</Component>

			<Component Id="Component2" Guid="{DF9EC2EF-BF8C-4BD0-A09D-8850341D854D}">
				<File Id="TestFile2" Name="ConsoleApp1.application" KeyPath="yes"/>
			</Component>
			
		</DirectoryRef>
		
	</Fragment>
</Wix>
