<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		
		<Directory Id="TARGETDIR" Name="SourceDir">
		
			<!-- Start Menu -->
			<Directory Id="ProgramMenuFolder"> <!--keyword-->
				<Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductNameFolder)" />
				<!--"InstallProgramMenuFolder" name is devloper choice for Id and not a keyword-->
			</Directory>

			<?if $(var.Platform)=x64 ?>
			<!-- Program Files (64bit) folder -->
			<Directory Id="ProgramFiles64Folder"> <!--keyword-->
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" /> <!--keyword-->
			</Directory>
			<?else?>
			<!-- Program Files (32bit) folder -->
			<Directory Id="ProgramFilesFolder"> <!--keyword-->
				<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" /> <!--keyword-->
			</Directory>
			<?endif?> 
		
		</Directory>
	</Fragment>
</Wix>
