<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<!-- Product Components -->
		<ComponentGroup Id="StartMenuComponent">
			<!--keyword-->

			<!-- Shortcut -->
			<ComponentRef Id="MainAppShortcut" />

		</ComponentGroup>

		<!-- Installed files -->
		<DirectoryRef Id="INSTALLFOLDER" FileSource="..\ConsoleApp1\">

			<!-- Shortcut to main application -->
			<Component Id="MainAppShortcut" Guid="{EDC013A0-E920-44FF-8E6C-440B6FE3983E}">

				<Shortcut Id="MainAppShortcut"
						  Name="!(loc.ProductName_$(var.Platform))"
						  Target="[INSTALLFOLDER]TextFile.txt"
						  Directory="InstallProgramMenuFolder"
						  WorkingDirectory="INSTALLFOLDER"
						  Icon="icon.ico"
                  />

				<!-- Our unique key for this component/shortcut -->
				<RegistryValue Id="RegShortcutKey" Root="HKCU" 
							   Key="SOFTWARE\!(loc.ProductNameFolder)" Name="Shortcut" Value="1" 
							   Type="integer" KeyPath="yes" />

				<!--Remove start menu items -->
				<RemoveFolder Id="RemoveStartMenu" Directory="InstallProgramMenuFolder" On="uninstall" />

			</Component>

		</DirectoryRef>
	</Fragment>
</Wix>
